body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  text-align: center;
  transition: background-color 0.3s ease;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light-mode {
  background-color: #ffffff;
  color: #333333;
}

.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

header {
  background-color: #f670b7;
  padding: 20px;
  width: 100%;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
}

button:hover {
  background-color: #adabab;
}

main {
  padding: 20px;
}

p {
  max-width: 600px;
  margin: 20px auto;
}